body {
    max-width: 100vw;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Roboto", sans-serif;
    background-color: #F9F6E7;
}

main {
    width: 99vw;
    margin: 0 auto;
}

/* Navbar */
nav {
    background-color: #F19C79;
}

.navbar-brand:hover {
    color: #84D7D0;
}

.nav-link:hover {
    color: #84D7D0;
}

.creator {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    z-index: -1;
    mix-blend-mode: multiply;
}

.sec-02 p {
    color: #A44A3F;
}

.carousel-item {
    width: inherit;
    height: max-content;
    padding: 2.5%;
}

.project-caption {
    padding: 0 10%;
    font-weight: 400;
    color: #A44A3F;
}

.project-img-overlay {
    width: 50%;
    height: max-content;
    border: #84D7D0 dashed 7.5px;
    border-radius: 100%;
    padding: 5%;
    margin: 10% auto;
    background-color: #F27B6E;
}

.project-img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

#gloves .project-img-overlay {
    height: max-content;
    width: max-content;
}

#gloves .project-img {
    width: auto;
    height: 35vw;
}

.project-stats {
    height: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 25px;
}

.stat {
    width: 33.333%;
    margin: 2.5% 2.5%;
    align-self: center;
    align-content: center;
    background-color: #F27B6E;
    color: #F8DBB0;
    border-radius: 100%;
    border: #84D7D0 dashed 5px;
}

.stat-text {
    height: 50%;
    margin: 25% 0 !important;
}

.stat:nth-child(even) .stat-text p {
    color: #F9F6E7;
}

.stat:nth-child(odd) .stat-text p {
    color: #A44A3F;
}

.stat:nth-child(even) {
    background-color: #F27B6E;
    color: #F8DBB0;
}

.stat:nth-child(odd) {
    background-color: #F8DBB0;
    color: #F27B6E;
}

.stat-header {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
}

.carousel-link {
    color: #F19C79;
    text-decoration: dashed underline #F27B6E;
}

.carousel-link:hover {
    color: #A44A3F;
    text-decoration: dashed underline #A44A3F;
}

.carousel-link:visited {
    color: #F19C79;
    text-decoration: dashed underline #84D7D0;
}

.sec-03 {
    background-color: #F19C79;
    color: #A44A3F;
}

.sec-03 h1 {
    padding: 2.5% 0;
    font-family: "Euphoria Script", cursive;
    font-size: 5rem;
    color: #F9F6E7;
}

.sec-03 h3 {
    color: #F9F6E7;
}

.overlay-creator .creator {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

footer {
    background-color: #A44A3F;
    color: #F8DBB0;
    text-align: center;
    font-size: 1.25rem;
}

.contact-links {
    margin: 10%;
}

footer a {
    font-size: 2rem;
    color: #F8DBB0;
    margin: 7.5%;
}

footer a:hover {
    color: #84D7D0;
}

footer a:visited {
    color: #F27B6E;
}

.copyright {
    padding: 0;
    padding-bottom: 5%;
    margin: 0;
    font-family: "Euphoria Script", cursive;
    font-size: 1.125rem;
}

@media only screen and (max-width: 720px) {
    .navbar-toggler:hover {
        background-color: #F8DBB0;
    }
    
    .navbar-brand {
        font-family: "Euphoria Script", cursive;
        font-size: 3.25rem;
        color: #F9F6E7;
    }
    
    .nav-item {
        height: 10vw;
        width: 20vw;
        margin: 2.5%;
    }
    
    .nav-link {
        font-family: "Euphoria Script", cursive;
        font-size: 2rem;
        color: #F9F6E7;
    }


    section {
        padding: 10% 2.5%;
        width: inherit;
        height: auto;
    }

    .intro {
        width: auto;
        margin: 5vw auto;
        font-weight: 300;
        color: #F9F6E7;
    }

    .overlay {
        height: auto;
        width: 50vw;
        border-radius: 100%;
        margin: 10% auto;
        padding: 0;
        background-color: #f8dbb0;
    }

    .sec-01 {
        padding: 2.5%;
        background-color: #F19C79;
    }    

    h1 {
        font-size: 5rem;
        font-family: "Roboto Slab", serif;
        text-align: center;
    }

    h3 {
        font-size: 2rem;
        font-family: "Roboto Slab", serif;
        text-align: center;
        margin: 5% 0 !important;
    }

    h1.intro {
        font-size: 3rem;
    }

    .cursive {
        font-family: "Euphoria Script", cursive;
        font-size: 4.5rem;
        color: #A44A3F;
    }

    p {
        padding: 0 5%;
        font-size: 1.25rem;
        text-align: center;
    }

    .sec-02 h1 {
        padding: 2.5% 0;
        font-family: "Euphoria Script", cursive;
        font-size: 5rem;
        color: #84D7D0;
    }

    .sec-02 h3 {
        font-weight: 400;
        color: #A44A3F;
        text-decoration: dashed underline #84D7D0;
    }

    .overlay-creator {
        width: 50vw;
        height: max-content;
        margin: 10% auto;
        padding: 0;
        border-radius: 50%;
        background-color: #f8dbb0;
    }
}

@media only screen and (min-width: 721px) {
    .navbar {
        padding: 0 5%;
    }

    .navbar-brand {
        font-family: "Euphoria Script", cursive;
        font-size: 4rem;
        color: #F9F6E7;
    }
    
    .nav-item {
        margin: 5% 2.5%;
        font-size: 2rem;
    }
    
    .nav-link {
        font-family: "Euphoria Script", cursive;
        font-size: 2rem;
        color: #F9F6E7;
    }

    section {
        padding: 5% 5%;
        width: inherit;
        height: auto;
    }
    
    .intro {
        width: auto;
        margin: 5vw auto;
        font-weight: 500;
        color: #F9F6E7;
    }

    .overlay {
        height: auto;
        width: 25vw;
        border-radius: 100%;
        margin: 10% auto;
        padding: 0;
        background-color: #f8dbb0;
    }

    .sec-01 {
        background-color: #F19C79;
        margin-top: -5%;
    }

    h1 {
        font-size: 6rem;
        font-family: "Roboto Slab", serif;
        text-align: center;
        letter-spacing: 1.5;
    }

    h3 {
        font-size: 3rem;
        font-family: "Roboto Slab", serif;
        text-align: center;
        letter-spacing: 1.5;
    }

    h1.intro {
        font-size: 3.5rem;
    }

    .cursive {
        font-family: "Euphoria Script", cursive;
        font-size: 6rem;
        color: #A44A3F;
    }

    p {
        padding: 0 5%;
        font-size: 1.75rem;
        text-align: center;
    }

    p.intro {
        font-size: 1.5rem;
    }

    .sec-02 h1 {
        padding: 2.5% 0;
        font-family: "Euphoria Script", cursive;
        color: #84D7D0;
    }

    .sec-02 h3 {
        font-size: 2.5rem;
        font-weight: 400;
        color: #A44A3F;
        text-decoration: dashed underline #84D7D0;
    }

    #gloves .project-img {
        width: auto;
        height: 40vw;
    }

    .project-stats {
        height: 25%;
        display: flex;
        text-align: center;
        align-items: center;
    }
    
    .stat {
        margin: 5% 2.5%;
    }

    .sec-03 h1 {
        font-family: "Euphoria Script", cursive;
        font-size: 6rem;
        color: #F9F6E7;
    }

    .sec-03 h3 {
        margin: 5% 0 5%;
        font-family: "Euphoria Script", cursive;
        font-size: 3rem;
        color: #F8DBB0;
    }

    .overlay-creator {
        width: 25vw;
        height: max-content;
        margin: 5% auto;
        padding: 0;
        border-radius: 50%;
        background-color: #f8dbb0;
    }

    footer {
        font-size: 2rem;
        height: max-content;
    }

    footer a {
        font-size: 3rem !important;
        color: #F8DBB0;
        margin: 7.5%;
    }
    
    footer a:hover {
        color: #84D7D0;
    }
    
    footer a:visited {
        color: #F27B6E;
    }

    .contact-links {
        height: max-content;
        margin: 7.5%;
    }

    .copyright {
        font-size: 2rem;
    }
}